.futer{
    clear:both;
}


.call, .newsletter, .radnoVremeCall{
float:left;
width:33.33333333333%;
background-color: rgb(97,97,97);
height:13vw;
color:white;
text-align: center;
padding:1vh 0 0 0;
font-size: 0.8vw;
}


.radnoVremeCall{
    text-align: left;
    line-height: 1vw;
}


