.futer{
    clear:both;
}


.call, .newsletter, .radnoVremeCall{
float:left;
width:33.3%;
background-color: rgb(97,97,97);
height:10vw;
color:white;
text-align: center;
padding:1vh 0 0 0;
}


.radnoVremeCall{
    text-align: left;
    line-height: 1vw;
}