.title{
    color:rgb(251, 255, 0);
    font-size:5.5vh;
   margin-top:0; 
   text-align: center;
}

ul{
    margin-bottom:0;
}
.hed{
    background-color: rgb(78, 34, 34);
    font-family: 'Courier New', Courier, monospace;

}
