.kartica{
    float: left;
    /* margin-left:1.2vw;
    margin-top:1.5vh; */
    margin:1.1vh 0vw 0vw 0.9vw;
    color:black;
    border: 1px solid rgb(145, 0, 0);
  
    width:23%;
    height:26vw;
    
}
.kartica .ime{
    font-size: 1.2vw;
    clear:left;   text-align: center;
}

.slika img{
    width:100%;

    
}
.slika:hover img{
    opacity:0.7;
}
.slika input{
    position: relative;
    display: none;
    margin:0 5vw;
    width: 4vw;
    font-size: 0.vw;
    margin-bottom: 0;
}

.slika:hover input{
    top:-8vw;
    display: inline;
    left:-0.5vw;

}
.ime{
    height:1.5vw;
    text-align:center;
}
.cont{
    height:1vw;
}
.opis{
    text-align:left;
    padding:0 1vw;
    font-size:0.6vw;
}

#cen{
    position:relative;
    font-size:0.5vw;
    bottom:5px;
    left:-5px;
}


.korpa{
    float:left;
    display: flex;
    width: 1.5vw;
    font-size: 0.8vw;
    padding: 0;
    border-radius: 5px;
    
}
.fav{
    float:right;
    padding:0;
    border-radius: 5px;
    width:1.5vw;
    font-size: 0.8vw;
}
.cenaTekst{
    font-size:0.7vw;
}