li{
    list-style-type: none;
    margin-right:3vh;
    font-weight: bold;
    display:inline;
    color:white;
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}




li:hover{
    color:rgb(255, 209, 139);
}