.products{
    float:right;
    text-align:left;
    font-size:1.2vw;
    line-height:70px;
    /* border-right:1px solid black; */
    width:15%;
    /* padding:1vw; */
    color:white;
    margin-top:1vh;
    font-family: 'Courier New', Courier, monospace;
    background-color:  rgb(78, 34, 34);    
}


.side{
    float:left;
    padding:1vw;
    color:black;
    
 
}
.radnje{
    line-height: 1vw;
}
.unutra{
    padding:1vh;
    padding-bottom: 0;
}

.rad{
    font-size: 1vw;
}