
.naziv{
    text-align:center;
    background-color:rgb(97, 97, 97); 
    margin-top:0; 
    padding:1vh 0;
    color:rgb(251, 255, 24);
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:0.8vw;
   
}

